.form {
  max-width: 420px;
  margin: 50px auto;
}

#name {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 5px solid #cc6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

#btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 250px;
  margin: 0 auto;
  padding: 0.9em 2em;
  border: 2px solid #cc6666;
  border-radius: 25px;
  background-color: #fff;
  color: #cc6666;
  font-size: 1em;
}
